In [6]:
import pandas as pd
import json
from cloud import session
import chart_helper
import plotly.express as px
import datetime

In [7]:
from queries_dict import admin_queries
from pandas import DataFrame

logins_df = DataFrame(session.execute(admin_queries['logins_over_time'], [1]))
usage_df = DataFrame(session.execute(admin_queries['data_usage_by_month'], [1]))

In [8]:
len(logins_df[logins_df['new_user'] == True])

28

In [10]:
def get_total_active_new_users_by_association(jsonified_df, association):
  filtered_df = chart_helper.filter_data_by_association(jsonified_df, association)
  total_new_users = len(filtered_df[filtered_df['new_user'] == True])
  return total_new_users

In [16]:
usage_df

   association course_id  paper_id        type  size_in_mb
0         uniA  courseA1  paperA11  attachment       1.658
1         uniA  courseA1  paperA11       audio       1.117
2         uniA  courseA1  paperA12  attachment       0.337
3         uniA  courseA1  paperA12       image       1.326
4         uniA  courseA1  paperA12       video       1.389
..         ...       ...       ...         ...         ...
58        uniC  courseC2  paperC22       image       0.778
59        uniC  courseC2  paperC22       video       0.392
60        uniC  courseC2  paperC23  attachment       0.234
61        uniC  courseC2  paperC23       audio       0.970
62        uniC  courseC2  paperC23       image       1.977

[63 rows x 5 columns]

In [17]:
len(usage_df)

63